################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientManager/.vs/ClientManager/v16
/ClientManager/ClientManager.DAL/obj/Debug
/.vs
/ClientManager/ClientManager.DAL/bin/Debug
/ClientManager/DatabaseUpdater/bin/Debug
/ClientManager/DatabaseUpdater/obj/Debug
/ClientManager/packages
